.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: "IRANSans";
    src: url("../font/IRANSans-web.woff") format("woff"), url("../font/IRANSans.ttf") format("truetype"), url("../font/IRANSans.svg#IRANSans") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "IRANSans";
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    direction: rtl;
    box-sizing: border-box;

    li {
        list-style: none;
    }
}


///////////////////////////////////////////////////////////

.filimobox {
    background: #121212;
    color: #fff;

    .header {
        padding: 15px 0;
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #121212;
        border-bottom: solid 1px #242424;
        z-index: 100;

        &_link {
            vertical-align: middle;
        }



        &_logo {
            width: 100px;
            display: inline-block;
            margin-left: 10px;

            img {
                width: 100%;
            }
        }

    }

    .swiper-container {
        .swiper-slide {
            &.swiper-slide-active {
                opacity: 1;  
            }
            opacity: 0.3;  
        }
            
    }

    /////////////////////
    .filimobox {
        &_wrapper {
            margin: 0 auto;
            padding: 0 30px;
            max-width: 1200px;
        }

        &_button {
            padding: 7px 15px;
            border-radius: 40px;
            color: #121212;
            background-color: #fff;
            transition: .3s ease-in-out;
            text-decoration: none;
            margin-left: 15px;

            &.black {
                color: #fff;
                background: none;

                svg {
                    fill: #fff;
                }
            }
        }

        &_arrow {
            width: 10px;
            height: 10px;
            transform: rotate(90deg);
        }

        &_part {
            &-1 {
                padding-top: 100px;
                width: 100%;
                padding: 240px 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("../img/tv.jpg");

                &_text {
                    padding: 0 10%;

                    p {
                        width: 40%;
                    }

                    @media only screen and(max-width:820px) {
                        padding: 250px 20px 0;
                        text-align: center;

                        p {
                            width: 100%;
                        }
                    }
                }

                @media only screen and(max-width:1400px) {
                    padding: 150px 0;
                }

                @media only screen and(max-width:1000px) {
                    padding: 90px 0;
                }

                @media only screen and(max-width:820px) {
                    padding: 90px 0;
                }
            }

            &-2 {
                padding: 100px 0;
                text-align: center;
                margin-bottom: 60px;

                p {
                    font-size: 16px;
                    line-height: 1.8;

                }
            }

            &-3 {
                margin-bottom: 160px;
                text-align: center;

                p {
                    margin-bottom: 70px;
                }
            }

            &-4,
            &-5,
            &-6 {
                text-align: center;
                margin-bottom: 80px;
            }

            &-4 {

                p {
                    margin-bottom: 50px;
                }

            }

            &-5 {
                .filimobox_items_svg-wrapper {
                    padding-top: 30px;
                    margin-bottom: 60px;

                    svg {
                        padding-top: 0;
                        width: 30px;
                    }

                    &:first-child svg {
                        padding-top: 20px;
                    }
                }
            }

            &-6 {
                margin-bottom: 60px;
                overflow: hidden;

                h2 {
                    margin-bottom: 80px;
                }
            }
        }

        &_padding-top {
            padding-top: 50px;
        }

        &_items {
            &_svg-wrapper {
                border: solid 1px #fff;
                display: inline-block;
                width: 120PX;
                height: 120px;
                vertical-align: middle;
                margin: 5px;
                border-radius: 10px;
                opacity: 0.3;
                position: relative;

                &:hover {
                    opacity: 1;
                }

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &_middle-poster-back {
            background-image: url("../img/blur-bg-tv.jpg");
            background-repeat: no-repeat;
            background-size: cover;

            img {
                margin-top: -50px;
            }

        }

        &_right {
            float: right;
            text-align: right;
            width: 50%;
        }

        &_left {
            float: left;
            width: 50%;
            text-align: left;
        }

        &_sliding-wrapper {
            position: relative;
            width: 300%;
            left: 0;
            padding-right: 90px;
            padding-top: 70px;
            transition: 1s;

            img {
                width: 530px;
                margin-left: 20%;
            }
        }

        &_features {
            border-bottom: solid 1px gray;

            div {
                padding: 20px 0;
            }
        }

        &_poster-bottom {

            border-radius: 10px;
            width: 80%;
            margin-right: 15%;

        }

        &_plus {
            text-align: center;
        }

        &_more-features {
            padding: 30px 0;

            li {
                float: right;
                width: 30%;
                height: 110px;
                text-align: center;
                margin: 5px;
                padding: 10px;
                border: solid 1px gray;
                border-radius: 10px;

                img {
                    display: inline-block;
                    margin-bottom: 5px;
                }
            }
        }

        &_price {
            text-align: center;

            &-txt {
                font-size: 18px;
                color: #f8870e;
                margin: 0 10px;

            }
        }

        &_orange {
            display: block;
            background: #f8870e;
            padding: 15px 0;
            margin: 15px 0;
        }

        &_footer {
            padding: 20px 0;
            text-align: center;
            border-top: solid 1px gray;
        }

        &_4K {
            margin-bottom: 30px;
        }

        &_views {
            overflow: hidden;
        }

        &_button-view{
            background: #3e3e3e;
                border-radius: 30px;
                position: relative;
            &.filimobox_right{
                width: 245px;

                
            }
        }
        &_inner-button{
            display: inline-block;
            padding: 20px 30px;
            opacity: .3;
            &:hover{
                cursor: pointer;
            }
            &_click{
                padding: 20px 0;
                background: #fff;
                position: absolute;
                top: 0;
                width: 50%;
                border-radius: 30px;
                color: gray;
                text-align: center;
                transition: 1s;
                &.back-view{
                    transform: translateX(-122px);
                    transition: 1s;
                }
            }
            
        }
    }

    /////////////////
    p {
        font-weight: 100;
        font-size: 16px;
        color: #ededed;
        margin-bottom: 30px;
    }

    h1,
    h2 {
        font-weight: 300;
        font-size: 40px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 32px;
    }

    .over {
        overflow: hidden;
    }

    .swiper-container {
        height: 470px;

        .swiper-slide {
            width: 300px !important;
            
            border-radius: 10px;
            overflow: hidden;

            img {
                width: 100%;
                border: solid 2px rgb(72, 80, 82);
                margin-bottom: 20px;
            }
        }

    }



}

.hide {
    display: none;
}

.free-space {
    padding: 0 80px;
}

.filimobox_part-2 h2 {
    transition: 1s;
    opacity: 0;
    transform: translateY(100px);
}

.ghader {
    transition: 1s;
    opacity: 1;
    transform: translateY(0px);
}



// .filimobox .swiper-container .swiper-slide